.blue {
	color: blue;
}

.enlarged {
	font-size: 2em;
}

.bordered {
	border: 5px dotted red;
}

.round {
	border-radius: 30px;
}

/* The first section's text should be bold. */

section:first-child {
	font-weight: bold;
}

/* The last section's text should be bold and italicized. */

section:last-child {
	font-weight: bold;
	font-style: italic;
}

/* Make the buttons stop appearing next to each other as inline elements. Change them into block elements. */

button {
	display: block;
	margin: 10px;
}